In [18]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt

%matplotlib inline

## Model the matches

In [19]:
yr_ls = [2007 + i for i in range(9)]
nfl_dict = {}
for yr in year_ls:
    nfl_dict[yr] = pd.read_csv("NFL_data/"+str(yr)+".csv")
    nfl_dict[yr].columns = ['win', 'loser', 'PtsW', 'PtsL', 'YdsW', 'TOW', 'YdsL',
       'TOL']

In [25]:
ls1 = [i for i in nfl_dict[2007]["win"]]
ls2 = [i for i in nfl_dict[2007]["loser"]]

teams = list(set(ls1 + ls2))
teams.sort()

# Create y and n matrix for each year

In [23]:
ymat_dict = {}
nmat_dict = {}
for yr in yr_ls:
    ymat_dict[yr] = pd.DataFrame(np.zeros((32,32)), columns=teams, index=teams)
    nmat_dict[yr] = pd.DataFrame(np.zeros((32,32)), columns=teams, index=teams)
    for row in range(nfl_dict[yr].shape[0]):
        i = nfl_dict[yr].loc[row, "win"]
        j = nfl_dict[yr].loc[row, "loser"]
        ymat_dict[yr].loc[i, j] += 1
    nmat_dict[yr] = ymat_dict[yr] + ymat_dict[yr].T
    nmat_dict[yr] = pd.DataFrame(np.tril(nmat_dict[yr]), index=teams, columns=teams)
    ymat_dict[yr] = pd.DataFrame(np.tril(ymat_dict[yr]), index=teams, columns=teams)

In [24]:
ymat_ls = []
nmat_ls = []
for yr in yr_ls:
    ymat_ls.append(ymat_dict[yr])
    nmat_ls.append(nmat_dict[yr])

# Create a feature matrix

In [36]:
# Points won
nfl_dict[2008].groupby("loser").mean()

,PtsW,PtsL,YdsW,TOW,YdsL,TOL
loser,,,,,,
Arizona Cardinals,37.625000,21.000000,375.875000,0.625000,343.250000,2.875000
Atlanta Falcons,26.333333,16.833333,374.500000,0.500000,310.833333,1.666667
Baltimore Ravens,22.166667,11.000000,286.666667,1.166667,243.833333,2.666667
Buffalo Bills,23.444444,13.333333,315.333333,0.666667,279.444444,2.777778
Carolina Panthers,31.800000,16.400000,366.200000,0.600000,301.200000,2.200000
Chicago Bears,27.428571,16.571429,372.857143,1.428571,288.714286,1.571429
Cincinnati Bengals,27.166667,11.083333,353.666667,1.333333,227.416667,1.916667
Cleveland Browns,23.333333,10.416667,367.166667,1.500000,217.166667,2.000000
Dallas Cowboys,31.714286,17.000000,318.571429,1.428571,308.000000,3.142857
Denver Broncos,33.375000,15.500000,376.875000,0.625000,362.375000,2.875000
Detroit Lions,32.312500,16.750000,404.375000,1.250000,268.250000,1.812500
Green Bay Packers,28.100000,21.800000,365.400000,1.700000,332.800000,1.700000
Houston Texans,32.375000,20.000000,355.750000,0.750000,344.000000,2.250000
Indianapolis Colts,28.000000,17.200000,332.400000,0.600000,320.600000,1.400000
Jacksonville Jaguars,24.727273,15.181818,333.363636,0.909091,291.363636,2.000000
Kansas City Chiefs,29.142857,17.000000,398.142857,1.642857,304.857143,1.642857
Miami Dolphins,30.333333,17.000000,399.333333,1.500000,318.333333,1.500000
Minnesota Vikings,27.000000,19.428571,310.714286,1.000000,326.714286,2.714286
New England Patriots,30.600000,15.800000,374.800000,0.600000,326.800000,2.200000
New Orleans Saints,30.000000,23.125000,343.625000,0.875000,385.625000,2.500000
New York Giants,23.600000,13.200000,342.000000,0.600000,293.200000,1.600000
New York Jets,25.428571,14.714286,347.714286,1.000000,306.142857,2.428571
Oakland Raiders,28.818182,12.272727,376.727273,1.363636,240.000000,1.727273
Philadelphia Eagles,28.857143,20.000000,327.285714,1.285714,309.428571,2.000000
Pittsburgh Steelers,22.750000,13.500000,288.500000,0.750000,281.500000,3.500000
San Diego Chargers,25.888889,20.888889,387.111111,0.777778,310.111111,1.333333
San Francisco 49ers,29.444444,18.000000,341.777778,0.666667,300.777778,2.666667
Seattle Seahawks,28.583333,15.583333,401.083333,1.000000,257.416667,1.833333
St. Louis Rams,31.000000,12.785714,374.357143,1.357143,290.571429,2.142857
Tampa Bay Buccaneers,25.142857,17.571429,355.285714,1.142857,336.000000,1.142857
Tennessee Titans,20.750000,8.750000,346.250000,0.750000,269.500000,1.500000
Washington Redskins,20.750000,11.750000,305.875000,1.125000,268.500000,1.750000

In [37]:
def feature_gen(data):
    hold = data.groupby("win").mean()
    hold["avg_PtsL"] = data.groupby('loser').mean()["PtsL"]
    hold["avg_YdsL"] = data.groupby('loser').mean()["YdsL"]
    return hold[["PtsW", "avg_PtsL","YdsW","avg_YdsL"]]

In [38]:
feature_ls = []
for yr in yr_ls:
    feature_ls.append(feature_gen)

                           PtsW   avg_PtsL        YdsW    avg_YdsL
win
Arizona Cardinals     31.125000  19.375000  355.250000  332.875000
Atlanta Falcons       27.500000  12.416667  307.750000  298.500000
Baltimore Ravens      20.800000  15.545455  316.200000  295.545455
Buffalo Bills         21.428571  11.333333  333.142857  233.555556
Carolina Panthers     24.285714  10.777778  329.857143  250.000000
Chicago Bears         26.857143  16.222222  287.571429  297.666667
Cincinnati Bengals    28.142857  20.333333  345.142857  350.222222
Cleveland Browns      29.100000  18.500000  381.300000  301.333333
Dallas Cowboys        32.000000  14.000000  398.384615  252.000000
Denver Broncos        27.571429  14.111111  390.857143  311.666667
Detroit Lions         28.714286  16.111111  338.857143  310.444444
Green Bay Packers     30.214286  18.500000  376.357143  333.500000
Houston Texans        28.000000  19.375000  333.375000  333.750000
Indianapolis Colts    30.692308  18.750000  371.538462  338.750000
Jacksonville Jaguars  29.000000  19.000000  353.000000  345.333333
Kansas City Chiefs    20.500000  12.000000  321.250000  262.000000
Miami Dolphins        22.000000  16.333333  360.000000  282.666667
Minnesota Vikings     31.500000  14.125000  387.250000  285.125000
New England Patriots  35.611111  14.000000  407.222222  274.000000
New Orleans Saints    31.142857  17.888889  417.142857  317.777778
New York Giants       23.428571  21.666667  323.500000  332.500000
New York Jets         25.750000  13.750000  315.500000  287.750000
Oakland Raiders       28.750000  14.000000  362.250000  272.333333
Philadelphia Eagles   26.250000  15.750000  400.750000  315.375000
Pittsburgh Steelers   27.900000  20.428571  348.500000  299.142857
San Diego Chargers    28.384615  16.666667  330.000000  304.333333
San Francisco 49ers   23.000000   9.454545  260.800000  226.636364
Seattle Seahawks      28.181818  19.714286  340.909091  333.857143
St. Louis Rams        26.000000  14.230769  341.666667  287.307692
Tampa Bay Buccaneers  24.333333  16.125000  324.333333  322.625000
Tennessee Titans      21.500000  13.142857  309.700000  305.428571
Washington Redskins   24.333333  16.125000  341.000000  323.000000